@font-face {
    font-family: "Elianto";
    src: url(../fonts/Elianto-Regular.otf) format("opentype");
}

.projIcon {
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    margin-right: 1em;
}

.projectNameContainer {
    margin-top: 50px;
}

.projectNameContainer:hover {
    color: #239B56;
    cursor: pointer;
}

/*.projectNameContainer:hover .projIcon {
    content: url("../images/triangularIcon.svg");
}*/

#proj1 {
    opacity: 0;
    margin-top: 50px;
    position: relative;
}

#proj2 {
    opacity: 0;
    margin-top: 50px;
}

#proj3 {
    opacity: 0;
    margin-top: 50px;
}

#proj4 {
    opacity: 0;
    margin-top: 50px;
}

#proj5 {
    opacity: 0;
    margin-top: 50px;
}

#proj6 {
    opacity: 0;
    margin-top: 50px;
}

#proj7 {
    opacity: 0;
    margin-top: 50px;
}

#proj8 {
    opacity: 0;
    margin-top: 50px;
}

#proj9 {
    opacity: 0;
    margin-top: 50px;
}


#page {
    height: 100vh;
}

#timeDate {
    text-align: center;
}

#clock {
    font-size: 4em;
}

#date {
    font-size: 2em;
}

#introHeader {
    margin-top: 3em;
}

#siteIntro {
    background-image: url("../images/spaceBack.jpeg ");
    background-size: cover;
    color: lightyellow;
    font-family: Elianto, sans-serif;
    text-align: center;
}

#timeDate {
    margin-top: 6em;
    margin-bottom: 6em;
}

@media only screen and (max-width: 992px) {

    #timeDate{
        margin-top: 3em;
        margin-bottom: 3em;
    }

}

#introHeader {
    margin-top: 6em;
    margin-bottom: 6em;
}

@media only screen and (max-width: 992px) {

    #introHeader{
        margin-top: 3em;
        margin-bottom: 3em;
    }

}

#selfDesc {
    position: absolute;
    height: 50%;
}

@media only screen and (max-width: 992px) {

    #selfDesc{
        margin-top: 4em;
        margin-bottom: 3em;
    }

}

#iconLicence {
    margin-top: 24em;
}

#projectsWindow {
    font-family: Elianto, sans-serif;
    color: #F2F3F4;
    background-color: #1b1e21;
    padding-left: 3.5em;
    padding-right: 3.5em;
}

@media only screen and (max-width: 992px) {

    #projectsWindow {
        padding-left: .5em;
        padding-right: .5em;
    }

}


#projectsTitle {
    border-bottom-width: .25em;
    border-bottom-style: solid;
    margin-top: 3.5em;
    text-align: center;
    opacity: 0;
}

#projectsContainer {
    font-size: 1.5em;
    margin: 1.25em auto auto;
}

